<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board</title>
    <style>
        .navbar {
            display: flex;

        }

        .title {
            text-align: center;
            font-size: 40px;
            font-weight: 600;
        }


        .boardMainText>div {
            font-size: 87px;
            font-weight: 400;
            text-align: left;
            margin-top: 30px;
        }


        .moodContainer {
            position: relative;
            top: 50px;
        }

        .moodHeader {
            display: flex;
            margin: 0px 500px;
            justify-content: space-between;
        }


        .moodModern,
        .moodNatural,
        .moodGame,
        .moodStudyOffice {
            display: inline-block;
            position: relative;
            height: 34px;
            border: 1px solid #4d4d4d;
            border-radius: 15px;
            padding-left: 12px;
            padding-right: 12px;
            line-height: 0;
            color: black;
            background-color: white;
            cursor: pointer;
        }

        .moodModern:hover,
        .moodNatural:hover,
        .moodGame:hover,
        .moodStudyOffice:hover {
            color: white;
            background-color: black;
        }

        .moodCheckBox {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0px;
            height: 0px;
            opacity: 0;
        }

        .modern,
        .natural,
        .game,
        .studyOffice {
            font-size: 15px;
            line-height: 32px;
            vertical-align: middle;
            white-space: nowrap;
            cursor: inherit;
        }

        .moodImage {
            margin-top: 50px;
            margin-bottom: 250px;
        }

        .moodItemWrap {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0px 200px;
        }

        .moodItem {
            width: 300px;
            height: 300px;
            flex-direction: column;
            margin: 2px;
            background-color: #000000;
            -webkit-filter: blur(0);
            filter: blur(0);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            animation-name: fadeIn;


        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .moodItem:hover {
            -webkit-filter: blur(2px);
            filter: blur(2px);
        }

        .moodItem>img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: 1200px) {
            .moodHeader {
                display: flex;
                justify-content: center;
                margin: 0px 400px;
            }

            .moodModern,
            .moodNatural,
            .moodGame,
            .moodStudyOffice {
                margin: 0px 10px;
            }

            .moodItemWrap {
                display: flex;
                margin: 0px;

            }

            .moodItem {
                width: 230px;
                height: 230px;
                margin: 1px;
            }

            .boardMainText>div {
                font-size: 70px;
                text-align: center;
                margin-top: 20px;
                text-align: left;
            }
        }

        @media screen and (max-width: 768px) {
            .moodHeader {
                margin: 0px 40px;
                justify-content: center;
            }

            .moodModern,
            .moodNatural,
            .moodGame,
            .moodStudyOffice {
                margin: 0px 10px;
            }


            .moodItemWrap {
                display: flex;
                margin: 0px;

            }

            .moodItem {
                width: 150px;
                height: 150px;
                margin: 1px;
            }

            .boardMainText>div {
                font-size: 46px;
                text-align: center;
                margin-top: 20px;
            }
        }

        @media screen and (max-width: 450px) {
            .moodHeader {
                margin: 0px 40px;
                justify-content: center;
            }

            .moodModern,
            .moodNatural,
            .moodGame,
            .moodStudyOffice {
                margin: 0px 8px;
            }


            .moodItemWrap {
                display: flex;
                margin: 0px;

            }

            .moodItem {
                width: 130px;
                height: 130px;
                margin: 1px;
            }

            .boardMainText>div {
                font-size: 43px;
                text-align: center;
                margin-top: 20px;
            }
        }
    </style>
</head>

<body>
    <!-- 헤더 -->
    <nav class="header">
        <div class="title">SYOS</div>
    </nav>

    <!-- board -->
    <div class="boardPage">
        <div class="boardPageIn">

            <!-- ShareYourOwnMood! 문구 -->

            <div class="boardMainText">
                <div>ShareYourOwnMood!</div>
            </div>

            <div class="moodContainer">

                <!-- mood 선택 버튼 -->

                <div class="moodHeader">
                    <span>
                        <label class="moodModern">
                            <input type="checkbox" class="moodCheckBox">
                            <span class="modern">modern</span>
                        </label>
                    </span>
                    <span>
                        <label class="moodNatural">
                            <input type="checkbox" class="moodCheckBox">
                            <span class="natural">natural</span>
                        </label>
                    </span>
                    <span>
                        <label class="moodGame">
                            <input type="checkbox" class="moodCheckBox">
                            <span class="game">game</span>
                        </label>
                    </span>
                    <span>
                        <label class="moodStudyOffice">
                            <input type="checkbox" class="moodCheckBox">
                            <span class="studyOffice">study&office</span>
                        </label>
                    </span>
                </div>


                <!-- 무드 이미지 -->
                <div>
                    <div class="moodImage">
                        <div class="moodItemWrap">
                            <div class="moodItem">
                                <img src="/public/images/desk.jpg" alt="">
                            </div>
                            <div class="moodItem"></div>
                            <div class="moodItem"></div>

                        </div>
                        <div class="moodItemWrap">
                            <div class="moodItem"></div>
                            <div class="moodItem"></div>
                            <div class="moodItem"></div>
                        </div>
                        <div class="moodItemWrap">
                            <div class="moodItem"></div>
                            <div class="moodItem"></div>
                            <div class="moodItem"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // JavaScript 코드
            const moodItemWrap = document.querySelector(".moodItemWrap");
            const itemsPerRow = 3; // 한 행당 moodItem의 개수

            function addMoodItem() {
                const newMoodItem = document.createElement("div");
                newMoodItem.classList.add("moodItem");
                moodItemWrap.appendChild(newMoodItem);
            }

            function addNewRow() {
                for (let i = 0; i < itemsPerRow; i++) {
                    addMoodItem();
                }
            }

            // 초기에 한 행을 로드
            addNewRow();

            // 스크롤 이벤트를 감지하여 행 추가
            window.addEventListener("scroll", () => {
                const { scrollTop, clientHeight, scrollHeight } = document.documentElement;
                if (scrollTop + clientHeight >= scrollHeight - 10) {
                    addNewRow(); // 새 행 추가
                }
            });



        </script>
</body>

</html>