<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/board.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <header id="main-header">
        <svg class="menu-button" width="40px" height="40px" focusable="false" viewBox="0 0 24 24">
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
        </svg>
        <span id="logo">SYOS</span>
        <span style="width: 40px; margin: 2rem"></span>
    </header>

    <!-- navBar -->
    <nav id="main-nav">
        <svg class="menu-button close" xmlns="http://www.w3.org/2000/svg" width="40px" height="40px"
            viewBox="0 0 24 24">
            <path
                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
        </svg>
        <ul class="main-menu">
            <li>Home</li>
            <li>Board</li>
            <li>Recommend</li>
            <li>MyPage</li>
            <li class="divider">
                <div class="under-line"></div>
            </li>
        </ul>
        <ul class="sub-menu">
            <li>About</li>
            <li>Contact</li>
            <li>LogIn</li>
        </ul>
    </nav>

    <!-- board -->
    <div class="board-Page">
        <div class="boardPageIn">

            <!-- ShareYourOwnMood! 문구 -->

            <div class="board-text">
                <div>ShareYourOwnMood!</div>
            </div>

            <div class="mood-container">

                <!-- mood 선택 버튼 -->

                <div class="mood-header">
                    <div>
                        <span class="button modern" data-filter="modern">modern</span>
                    </div>

                    <div>
                        <span class="button natural" data-filter="natural">natural</span>
                    </div>

                    <div>
                        <span class="button game" data-filter="game">game</span>
                    </div>

                    <div>
                        <span class="button study" data-filter="study">study</span>
                    </div>

                    <div>
                        <span class="mood-write">write</span>
                    </div>
                    <!-- <button class="button modern">modern</button>
                    <button class="button natural">natural</button>
                    <button class="button game">game</button>
                    <button class="button studyoffice">study&office</button>
                    <button class="button mood-write">write</button> -->
                </div>

                <!-- 드롭다운 -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        All
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">like</a></li>
                        <li><a class="dropdown-item" href="#">recent</a></li>
                        <li><a class="dropdown-item" href="#">old</a></li>
                    </ul>
                </div>

                <!-- 무드 이미지 -->
                <div class="mood-box">
                    <div class="mood-itemwrap" id="mood-itemwrap">
                        <!-- <div class="mood-item">
                            <img src="../images/desk.jpg" alt="desk">
                        </div>
                        <div class="mood-item">
                            <img src="../images/desk.jpg" alt="desk">
                        </div>
                        <div class="mood-item">
                            <img src="../images/desk.jpg" alt="desk">
                        </div> -->
                    </div>
                </div>


            </div>
        </div>

        <!-- footer -->
        <footer id="main-footer">
            <div id="footer-logo">SYOS</div>
            <div id="description">
                <div class="desc-text">@2023 SYOS</div>
                <div>Desktop Setup Sharing Platform</div>
            </div>
            <svg class="footer-sns" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
                viewBox="0 0 32 32">
                <path
                    d="M 28 8.558594 C 27.117188 8.949219 26.167969 9.214844 25.171875 9.332031 C 26.1875 8.722656 26.96875 7.757813 27.335938 6.609375 C 26.386719 7.171875 25.332031 7.582031 24.210938 7.804688 C 23.3125 6.847656 22.03125 6.246094 20.617188 6.246094 C 17.898438 6.246094 15.691406 8.453125 15.691406 11.171875 C 15.691406 11.558594 15.734375 11.933594 15.820313 12.292969 C 11.726563 12.089844 8.097656 10.128906 5.671875 7.148438 C 5.246094 7.875 5.003906 8.722656 5.003906 9.625 C 5.003906 11.332031 5.871094 12.839844 7.195313 13.722656 C 6.386719 13.695313 5.628906 13.476563 4.964844 13.105469 C 4.964844 13.128906 4.964844 13.148438 4.964844 13.167969 C 4.964844 15.554688 6.660156 17.546875 8.914063 17.996094 C 8.5 18.109375 8.066406 18.171875 7.617188 18.171875 C 7.300781 18.171875 6.988281 18.140625 6.691406 18.082031 C 7.316406 20.039063 9.136719 21.460938 11.289063 21.503906 C 9.605469 22.824219 7.480469 23.609375 5.175781 23.609375 C 4.777344 23.609375 4.386719 23.585938 4 23.539063 C 6.179688 24.9375 8.765625 25.753906 11.546875 25.753906 C 20.605469 25.753906 25.558594 18.25 25.558594 11.742188 C 25.558594 11.53125 25.550781 11.316406 25.542969 11.105469 C 26.503906 10.410156 27.339844 9.542969 28 8.558594 Z">
                </path>
            </svg>
            <svg class="footer-sns" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
                viewBox="0 0 24 24">
                <path
                    d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z">
                </path>
            </svg>
            <svg class="footer-sns" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
                viewBox="0 0 30 30">
                <path
                    d="M15,3C8.373,3,3,8.373,3,15c0,6.016,4.432,10.984,10.206,11.852V18.18h-2.969v-3.154h2.969v-2.099c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L19.73,18.18h-3.106v8.697 C22.481,26.083,27,21.075,27,15C27,8.373,21.627,3,15,3z">
                </path>
            </svg>
        </footer>
        <script src="../js/menu.js"></script>
        <script src="../js/board.js"></script>
</body>

</html>