<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>SignUp</title>
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/signup.css" />
  </head>
  <body>
    <header id="main-header">
      <svg
        class="menu-button"
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="36"
        height="36"
        viewBox="0 0 24 24"
      >
        <path
          d="M 3 5 A 1.0001 1.0001 0 1 0 3 7 L 21 7 A 1.0001 1.0001 0 1 0 21 5 L 3 5 z M 3 11 A 1.0001 1.0001 0 1 0 3 13 L 21 13 A 1.0001 1.0001 0 1 0 21 11 L 3 11 z M 3 17 A 1.0001 1.0001 0 1 0 3 19 L 21 19 A 1.0001 1.0001 0 1 0 21 17 L 3 17 z"
        ></path>
      </svg>
      <span id="logo" onclick="location.href = '/'">SYOS</span>
    </header>

    <nav id="main-nav">
      <svg
        class="menu-button close"
        xmlns="http://www.w3.org/2000/svg"
        width="40px"
        height="40px"
        viewBox="0 0 24 24"
      >
        <path
          d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
        />
      </svg>
      <ul class="main-menu">
        <li onclick="location.href = '/'">Home</li>
        <li onclick="location.href = '/board'">Board</li>
        <li onclick="location.href = '/recommend'">Recommend</li>
        <li onclick="clickMyPage()">MyPage</li>
        <li class="divider"><div class="under-line"></div></li>
      </ul>
      <ul class="sub-menu">
        <li>About</li>
        <li>Contact</li>
        <li id="login-button" onclick="toggleLoginLogout()">LogIn</li>
      </ul>
    </nav>

    <!-- signup -->

    <main class="signUp">
      <div class="welcome">Welcome to SYOS!</div>

      <div class="signUpDiv">
        <div class="emailDiv">
          <input type="text" id="email" placeholder="Email" />
          <div class="emailValid"></div>
        </div>
        <div class="pwDiv">
          <input type="password" id="pw" placeholder="Password" />
          <div class="pwValid"></div>
        </div>
        <div class="rePwDiv">
          <input type="password" id="rePw" placeholder="Re-enter Password" />
          <div class="rePwValid">Mismatched</div>
        </div>
        <div class="nickNameDiv">
          <input type="text" id="nickName" placeholder="NickNmae" />
          <div class="nickNameValid">Duplicate</div>
        </div>
        <div class="signUpBtnDiv">
          <button type="button" id="signUpBtn">SignUp</button>
        </div>
      </div>
    </main>

    <!-- signup -->

    <script src="../js/menu.js"></script>
    <script src="../js/signup.js"></script>
  </body>
</html>
