@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

.board-container {
  display: flex;
  justify-content: center;
}

.board-Page {
  width: 80%;
}

.board-text {
  display: flex;
  margin-top: 1.5rem;
}

.board-text > span {
  font-size: 80px;
}

.mood-container {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mood-header {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  font-weight: 500;
}

input[type='radio'] {
  display: none;
}

label {
  cursor: pointer;
}

.filter-box {
  display: flex;
}

.filter-1 {
  display: flex;
}

.filter-2 {
  display: flex;
}

.filter {
  display: flex;
  align-items: center;
  height: 39px;
  border-radius: 20px;
  padding: 0px 18px;
  color: #595959;
  font-size: 21px;
}

.write-box {
  cursor: pointer;
}

.filter.write {
  font-size: 26px;
}

.filter.write > i {
  cursor: pointer;
  font-size: 15px;
  margin-top: 0.3rem;
  margin-right: 0.2rem;
}

.filter.active label {
  font-weight: 600;
  color: #3b3b3b;
}

.mood-box {
  margin-bottom: 9.3em;
}

.mood-itemwrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.7em;
  height: 18.7em;
  flex-direction: column;
  margin: 2px;
  transition: 0.3s ease-in-out;
  animation-name: fadeIn;
  opacity: 0;
  animation: fadeIn 2s 0s forwards;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.text-box {
  /* display: none; */
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  z-index: 9999;
}

/* 한줄 말줄임 */
.title {
  font-family: 'Pretendard-Regular';
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.res-container,
.text-container {
  width: 70%;
  display: none;
}

/* none */

.res-box {
  justify-content: space-evenly;
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  position: relative;
  z-index: 9999;
  display: flex;
  justify-content: space-evenly;
}

.item-box:hover .text-container,
.item-box:hover .res-container {
  display: block;
}

.item-box:hover img {
  transform: scale(1.1);
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.item-box > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.heart-box > p,
.comment-box > p {
  margin: 0px;
}

@media screen and (max-width: 1200px) {
  .board-container {
    display: flex;
    justify-content: center;
  }

  .board-Page {
    width: 80%;
  }

  .board-text {
    display: flex;
    margin-top: 1.5rem;
    justify-content: flex-start;
  }

  .board-text > span {
    font-size: 56px;
  }

  .mood-header {
    display: flex;
  }

  .filter-box {
    display: flex;
    flex-direction: column;
  }

  .mood-box {
    margin: 3.25em 0em 9.375em;
  }

  .mood-itemwrap {
    display: flex;
    margin: 0px;
  }

  .item-box {
    margin: 0.0625em;
  }

  .board-text > div {
    font-size: 4.375em;
    text-align: center;
    margin-top: 1.25em;
    text-align: left;
  }

  .filter-box {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .board-page {
    width: 80%;
  }

  .board-text {
    justify-content: center;
  }

  .board-text > span {
    font-size: 56px;
  }

  .mood-header {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modern,
  .natural,
  .game,
  .studyoffice {
    margin: 0em 0.375em;
  }

  .mood-container {
    display: flex;
    justify-content: center;
  }

  .mood-box {
    margin: 3.25em 1.25em 9.375em 1.25em;
  }

  .mood-itemwrap {
    display: flex;
    margin: 0px;
  }

  #post-content > p {
    font-size: 14px;
  }

  .board-text {
    margin-top: 0em;
  }

  .board-text > div {
    font-size: 2.875em;
    text-align: center;
    margin-top: 1.25em;
  }

  .filter-box {
    align-items: center;
  }

  .filter.write {
    padding-top: 1.2rem;
  }
}

@media screen and (max-width: 450px) {
  .board-text {
    margin-top: -1em;
  }

  .board-text > span {
    font-size: 34px;
  }

  .mood-header {
    margin: 0em 2.5em;
    justify-content: center;
  }

  .filter {
    font-size: 14px;
  }

  .filter.write {
    font-size: 21px;
  }

  .mood-modern,
  .mood-natural,
  .mood-game,
  .mood-studyoffice {
    margin: 0em 0.5em;
  }

  .mood-itemwrap {
    display: flex;
    margin: 0px;
  }

  .board-text > div {
    font-size: 2.7em;
    text-align: center;
    margin-top: 1.25em;
  }
}
