nav {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 50vw;
  min-width: 500px;
  height: 100vh;
  font-size: 3.7vw;
  z-index: 999;
  box-shadow: 0 30px 80px 0 rgba(97, 45, 45, 0.25);
  display: none;
}

.menu-button {
  margin: 2vw;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.main-menu li {
  cursor: pointer;
  margin-bottom: 1vw;
  font-weight: bold;
}

.sub-menu li {
  font-size: 2.5vw;
  margin-bottom: 0.6vw;
  cursor: pointer;
  font-weight: 600;
}

.under-line {
  width: 5vw;
  height: 1px;
  background-color: rgba(37, 33, 32, 0.12);
  margin: 5vh 0;
}
