/* 메인 크기 */
main.myPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 650px;
  background-color: white;
  margin-top: 50px;
}

/* 스와이퍼 */
.swiper {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

/* 프로필 div */
main.myPage > div.profileDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 150px;
  background-color: white;
  border-bottom: 1px solid black;
  padding: 5px;
}

/* 프로필 img div 크기 */
main.myPage > div.profileDiv > div.profileImg {
  width: 150px;
  height: 150px;
}

/* img 크기 */
main.myPage > div.profileDiv > div.profileImg > img {
  width: 100%;
  height: 100%;
}

/* 프로필 정보 div */
main.myPage > div.profileDiv > div.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 25px;
}

/* 스와이퍼 감싼 div */
main.myPage > div.three {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 60px;
}

/* 각 스와이퍼 워딩 글씨 */
main.myPage div.myWord {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding: 5px;
}

/* 내가 쓴 글 */
main.myPage div.myPost {
  background-color: white;
}

/* 내가 쓴 글이 없을 때 문구 */
main.myPage div.no {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-weight: bold;
}

main.myPage > div.swiper-slide {
  width: 300px;
  height: 300px;
}

main.myPage div.swiper-slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 사진크기 300px * 300px 벗어나는 버그 있음
appendchild 만 잘 하면 금방 끝날듯 */

/* 내가 댓글 단 글 */
main.myPage div.myComment {
  background-color: white;
}

/* 내가 좋아요 누른 게시물 */
main.myPage div.myLiked {
  background-color: white;
}
