/* 메인 크기 */
main.myPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 620px;
  background-color: white;
  margin-top: 50px;
}

/* 프로필 div */
main.myPage > div.profileDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 150px;
  background-color: white;
  border-bottom: 1px solid black;
  padding: 5px;
}

/* 프로필 img div 크기 */
main.myPage > div.profileDiv > div.profileImg {
  width: 130px;
  height: 130px;
}

/* 프로필 img 크기 */
main.myPage > div.profileDiv > div.profileImg > img {
  width: 100%;
  height: 100%;
}

/* 프로필 정보 div */
main.myPage > div.profileDiv > div.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 25px;
}

/* 3개 감싼 div */
main.myPage > div.three {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 60px;
}

/* 각 워딩 글씨 */
main.myPage div.myWord {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding: 5px;
}

/* No 문구 */
main.myPage div.no {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  font-size: 30px;
  font-weight: bold;
}

/* 내가 쓴 글 */
main.myPage div.myPost {
  background-color: white;
}

/* 내가 댓글 단 글 */
main.myPage div.myComment {
  background-color: white;
}

/* 내가 좋아요 누른 게시물 */
main.myPage div.myLiked {
  background-color: white;
}

/* myPost 캐러셀 */
div#myPostCarousel,
div#myCommentCarousel,
div#myLikedCarousel {
  width: 300px;
  height: 300px;
}

div.carousel-inner img {
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 1200px) {
  main.myPage {
    height: 1400px;
  }

  main.myPage > div.three {
    flex-direction: column;
    align-items: center;
  }
}
