main.signIn {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 모든 요소 가운데 정렬 */
main.signIn > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Welcome 문구 */
main.signIn > div.welcome {
  height: 15vh;
  font-size: 35px;
  font-weight: bold;
  margin-top: 17px;
}

/* id,pw div */
main > .signInDiv {
  flex-direction: column;
  align-items: center;
  height: 20vh;
}

main > .signInDiv > div {
  height: 20vh;
  margin-bottom: 10px;
  background-color: white;
  border: none;
  border-bottom: 2px solid #000000;
}

/* input 태그 */
main > .signInDiv > div > input {
  background-color: transparent;
  border: none;
  font-size: 18px;
  margin-top: 30px;
  width: 360px;
  opacity: 0.5;
}

/* 로그인 버튼 div */
main > .signInDiv > .signInBtnDiv {
  height: 20vh;
  border: none;
}

/* 로그인 버튼 */
main > .signInDiv > .signInBtnDiv > button {
  background-color: black;
  color: white;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  height: 30px;
  width: 352px;
  text-decoration: none;
}

main > .signInDiv > .emailDiv,
main > .signInDiv > .pwDiv {
  display: flex;
  align-items: center;
}

main > .signInDiv > .emailDiv > input,
main > .signInDiv > .pwDiv > input {
  width: 268px;
}

main > .signInDiv > .emailDiv > .emailValid {
  opacity: 0;
  color: red;
  font-size: 15px;
  width: 80px;
  height: 5px;
  line-height: 30px;
  text-align: right;
}

main > .signInDiv > .pwDiv > .pwValid {
  color: black;
  font-size: 15px;
  width: 80px;
  height: 5px;
  line-height: 30px;
  text-align: right;
}

main.signIn a {
  color: black;
}

main.signIn > div.google {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  line-height: 30px;
  width: 352px;
  margin-top: 30px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25),
    0px 0px 0px 0px rgba(0, 0, 0, 0.08);
}

main.signIn > div.google button {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
}

main.signIn > div.google div.googleText {
  color: rgba(0, 0, 0, 0.54);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main.signIn > div.signUp {
  margin-top: 30px;
}
